---
layout: main
title: Chimera Linux
---
<div id="title">
    <a href="/"><img id="logo" src="/assets/logo.png" alt="Chimera Linux logo"></a>
    <span>
        A modern, general-purpose non-GNU Linux distribution
    </span>
    <nav class="buttons">
        <a id="button_download" href="/downloads">Downloads</a>
        <a id="button_github" href="{{ site.github_link }}">GitHub</a>
    </nav>
    <nav class="social">
        {% for soc in site.social_links %}
            <a href="{{ soc[2] }}"><img src="/assets/icons/{{ soc[0] }}.svg" alt="{{ soc[1] }}"></a>
        {% endfor %}
    </nav>
</div>

<main id="desc">
    <p>
        Chimera is a general-purpose OS based on the Linux kernel. It aims to
        be clean and usable while addressing the various shortcomings of an
        average Linux distribution.
    </p>
    <p>
        It does so by liberating itself from the common baggage of most
        Linux-based systems and doing its own thing. Software is sourced
        from different places and sometimes written from scratch.
    </p>
    <p>
        <a href="/about">Read more</a> for details.
    <p>
</main>

<div id="tile1" class="tile">
    <h1>Alternative userland.</h1>
    <p>
        Chimera is not a GNU/Linux - its userland tools are based on
        FreeBSD, LLVM serves as the system toolchain, and <code>musl</code>
        provides the C library implementation.
    </p>
    <div class="more">
        <a href="/about#alternative-userland">Read more</a>
    </div>
</div>

<div id="tile2" class="tile">
    <h1>Clean and consistent.</h1>
    <p>
        Chimera aims to eliminate legacy cruft where possible to deliver
        a modern, general purpose, fully featured operating system that
        is simple but complete.
    </p>
    <div class="more">
        <a href="/about#clean-and-consistent">Read more</a>
    </div>
</div>

<div id="tile3" class="tile">
    <h1>Buildable from source.</h1>
    <p>
        While the system uses <code>apk-tools</code> and therefore binary
        packaging, it aims to be trivially buildable from source using a
        build system and package collection created from scratch.
    </p>
    <div class="more">
        <a href="/about#buildable-from-source">Read more</a>
    </div>
</div>

<div id="tile4" class="tile">
    <h1>Portable.</h1>
    <p>
        You can use Chimera on all kinds of processors, including Intel/AMD,
        ARM AArch64, POWER and RISC-V. Architecture tiering system
        ensures optimal support.
    </p>
    <div class="more">
        <a href="/about#portable">Read more</a>
    </div>
</div>

<div id="bottom">
    <div id="bottom_warn">
        <p>
            <strong>The distribution is in heavy development.</strong> Right
            now, it is a relatively complete graphical system with a multimedia
            stack and a web browser, capable of running Wayland and X11
            environments, such as GNOME and Enlightenment. However, the
            repositories (source and binary) are subject to arbitrary changes
            and rebuilds, so it is not yet safe for daily use.
        </p>
    </div>
    <div id="bottom_iso">
        <p>
            <strong>Initial bootable ISO images for x86_64 and ppc64le as well
            as device images for select AArch64 targets and binary package
            repositories are now available.</strong> Check the
            <a href="/downloads">Downloads</a> page for links and
            instructions. Note that these are pre-alpha quality and are
            provided solely for testing purposes.
        </p>
        <p>
            It is currently planned that the distribution will stabilize once
            apk-tools has released a stable 3.x version. Chimera currently
            relies on a Git snapshot of apk-tools.
        </p>
    </div>
    <div id="bottom_news">
        <h2><a href="/news">Recent news</a></h2>
        {% for post in site.posts limit:2 %}
        <div class="bottom_post">
            <h4>{{ post.date | date: "%B %d, %Y" }}</h4>
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
            {{ post.excerpt }}
            <p><a href="{{ post.url }}">Read more</a></p>
        </div>
        {% endfor %}
    </div>
</div>
