---
layout: main
title: Chimera Linux
---
<div id="title">
    <a href="/"><img id="logo" src="/assets/logo.png" alt="Chimera Linux logo"></a>
    <span>
        A modern, general-purpose Linux distribution
    </span>
    <nav class="buttons">
        <a id="button_download" href="/downloads">Downloads</a>
        <a id="button_packages" href="{{ site.pkgs_link }}">Packages</a>
    </nav>
    <nav class="social">
        {% for soc in site.social_links %}
            <a href="{{ soc[2] }}"><img src="/assets/icons/{{ soc[0] }}.svg" alt="{{ soc[1] }}"></a>
        {% endfor %}
    </nav>
</div>

<main id="desc">
    <p>
        Chimera is a general-purpose Linux-based OS born from unhappiness with
        the status quo. We aim to create a system that is simple, transparent,
        and easy to pick up, without having to give up practicality and a rich
        feature set.
    </p>
    <p>
        It is built from scratch using novel tooling, approaches, and userland.
        Instead of intentionally limiting ourselves, we strive to achieve both
        conceptual simplicity and convenience with careful and high quality
        software design.
    </p>
    <p>
        <a href="/about">Read more</a> for details.
    </p>
</main>

<div id="tile1" class="tile">
    <h1>Alternative userland.</h1>
    <p>
        Chimera uses a novel combination of core tools from FreeBSD,
        the LLVM toolchain, and the Musl C library, delivering a fresh
        experience with several major benefits.
    </p>
    <div class="more">
        <a href="/about#alternative-userland">Read more</a>
    </div>
</div>

<div id="tile2" class="tile">
    <h1>Clean and consistent.</h1>
    <p>
        Chimera aims to eliminate legacy cruft where possible to deliver
        a modern, general purpose, fully featured operating system that
        is simple but complete.
    </p>
    <div class="more">
        <a href="/about#clean-and-consistent">Read more</a>
    </div>
</div>

<div id="tile3" class="tile">
    <h1>Buildable from source.</h1>
    <p>
        Chimera is a binary distribution, but a source package build system
        is provided, enabling easy packaging of new software, builds of
        custom packages, and accessible infrastructure.
    </p>
    <div class="more">
        <a href="/about#buildable-from-source">Read more</a>
    </div>
</div>

<div id="tile4" class="tile">
    <h1>Portable.</h1>
    <p>
        You can use Chimera on all kinds of processors, including Intel/AMD,
        ARM AArch64, POWER and RISC-V. Central build system ensures packages
        are available everywhere.
    </p>
    <div class="more">
        <a href="/about#portable">Read more</a>
    </div>
</div>

<div id="bottom">
    <div class="bottom_news">
        <h2><a href="/news">Recent news</a> <a href="/atom.xml">(feed)</a></h2>
        {% for post in site.posts limit:2 %}
        <div class="bottom_post">
            <h4>{{ post.date | date: "%B %d, %Y" }}</h4>
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
            {{ post.excerpt }}
            <p><a href="{{ post.url }}">Read more</a></p>
        </div>
        {% endfor %}
    </div>

    <div class="bottom_commits">
        <h2><a href="https://github.com/chimera-linux/cports/commits/master">Package updates</a></h2>
        <ul id="cports_list"></ul>
        <div class="more">
            <a href="https://github.com/chimera-linux/cports/commits/master">View all</a>
        </div>
    </div>
</div>

<script src="/assets/js/commits.js"></script>
