/* handbook-specific styling */

#content {
    grid-column: 1 / span 3;
    display: flex;
    padding: 0;
    gap: var(--content-gap);
}

#content > nav {
    background-color: var(--color-bg);
    width: calc(var(--content-gap) * 5);
    flex-shrink: 0;
    padding: var(--content-halfgap);
}

#content ol {
    list-style-type: none;
    counter-reset: item;
    padding: 0;
    margin: 0;
}

#content ol > li {
    display: table;
    counter-increment: item;
}

#content ol > li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.6em;
}

#content li ol > li {
    margin: 0;
}

/* make sure sub-categories don't end with a dot */
#content li ol > li:before {
    content: counters(item, ".") " ";
}

#content > main {
    max-width: var(--content-width);
    padding-top: var(--content-halfgap);
    padding-bottom: var(--content-halfgap);
    padding-right: var(--content-gap);
}
