---
layout: page_base
---
<div id="content">
<nav>
<ol>
    {% assign docs = site.docs | sort_natural: 'section' -%}
    {%- assign nestl = 1 -%}
    {%- for it in docs -%}
        {%- assign sects = it.section | split: "." -%}
        {%- if sects.size > nestl -%}
            <ol>
        {% else -%}
            {%- assign nestdiff = nestl | minus: sects.size -%}
            {%- for i in (1..nestdiff) -%}
                </li>
                </ol>
            {% endfor -%}
            {%- if it.section != 1 -%}
                </li>
            {%- endif -%}
        {%- endif -%}
        {%- assign nestl = sects.size -%}
        <li><a href="{{ it.url }}">{{ it.title }}</a>
    {%- endfor -%}
    {%- for i in (2..nestl) -%}
        </li>
        </ol>
    {%- endfor -%}
    {%- if docs.size > 0 -%}
        </li>
    {%- endif %}
</ol>
</nav>
<main>
    {{ content }}
</main>
</div>
